<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css" type="text/css">
        <link rel="stylesheet" href="/static/css/xadmin.css" type="text/css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <script>
        function sreach(){
            var sreach_content = $('#sreach').val()
            window.open('http://127.0.0.1:8000/staff/sreach/'+sreach_content)


<!--            $.ajax({-->
<!--            url:'sreach/'+sreach_content,-->
<!--            type:"GET",-->

<!--          });-->
        }

    </script>


    <body>
       {% if code %}
            <script>location.reload()</script>
       {%endif%}
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body ">
                                <div class="layui-inline layui-show-xs-block">
                                    <input id="sreach" type="text" name="sreach_content"  placeholder="请输入搜索内容" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">

                                    <a title="搜索" onclick="sreach()"><i class="layui-icon">&#xe615;</i></a>

                                </div>

                        </div>
                        <div class="layui-card-header">
                        
                            <button class="layui-btn" onclick="xadmin.open('添加用户','add',600,400)"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                    <th>
                                      员工姓名
                                    </th>
                                    <th>部门</th>
                                    <th>状态</th>
                                    <th>性别</th>
                                    <th>手机</th>
                                    <th>职位</th>
                                    <th>学历</th>
                                    <th>身份证</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {%for staff in staffs %}
                                  <tr>
                                    <td>{{ staff.name }}</td>
                                    <td>{{ staff.department }}</td>
                                    <td>{{ staff.state }}</td>
                                    <td>{{ staff.sex }}</td>
                                    <td>{{ staff.tel }}</td>
                                    <td>{{ staff.duty }}</td>
                                    <td>{{ staff.education }}</td>
                                    <td>{{ staff.card }}</td>
                                    <td class="td-manage">
                                      <a title="编辑"  onclick="xadmin.open('编辑','edit/{{staff.id}}',600,400)" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                      </a>
                                      
                                      <a title="删除" onclick="member_del(this, {{staff.id}})" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                      </a>
                                    </td>
                                  </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                  <a class="prev" href="">&lt;&lt;</a>
                                  <a class="num" href="">1</a>
                                  <span class="current">2</span>
                                  <a class="num" href="">3</a>
                                  <a class="num" href="">489</a>
                                  <a class="next" href="">&gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>


      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        }); 
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });

       

      /*用户-删除*/
      function member_del(obj,id){

          $.ajax({
            url:'del/'+id,
            type:"DELETE",
            async: false,
            success:function (result) {
                if (200 == result.code){
                    alert('删除成功')
                    location.reload()
                }
               }
          });

      }



      function delAll (argument) {
        var ids = [];

        // 获取选中的id
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
</html>