<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="static/css/font.css">
        <link rel="stylesheet" href="static/css/xadmin.css">
        <script src="static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <script>
        setInterval(function(){
            location.reload()
        },300000)
    </script>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">辽阳至沈阳列车情况：
                                <span class="x-red">{{ times }}</span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                    <th>
                                      车次
                                    </th>
                                    <th>发车时间</th>
                                    <th>商务或特等座</th>
                                    <th>一等座</th>
                                    <th>二等座</th>
                                    <th>硬座</th>
                                    <th>站票</th>

                                  </tr>
                                </thead>
                                <tbody>
                                {%for train in trains %}
                                  <tr>
                                    <td>{{ train.num }}</td>
                                    <td>{{ train.time_str }}</td>
                                    <td>{{ train.business_spe }}</td>
                                    <td>{{ train.one }}</td>
                                    <td>{{ train.two }}</td>
                                    <td>{{ train.three }}</td>
                                    <td>{{ train.stand }}</td>
                                  </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>


                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">请及时调配车辆</blockquote></div>
            </div>
        </div>
        </div>
    </body>
</html>